<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>WikEMIcon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>WikEMIcon.png</string>
		<string>WikEMIcon@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.sabindang.com.emnotes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>ck</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.medical</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string></string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>base_url</key>
	<string>http://www.wikem.org</string>
	<key>database_url</key>
	<string>http://dl.wikem.org/files/db-update.xml</string>
	<key>edit_note_url</key>
	<string>http://www.wikem.org/w/index.php?title=%@&amp;action=edit</string>
	<key>head_css_string</key>
	<string>&lt;html&gt;&lt;head&gt;&lt;meta name=&apos;viewport&apos; content=&apos;initial-scale=1.0, maximum-scale=10.0&apos;/&gt;&lt;style type=&quot;text/css&quot;&gt; body { font-family: arial }
.editsection {display: none}
p,ol,li,ul,a {font-size: 12pt }
h2 { font-size: 14pt; border-top:1px solid #DBDEE2; padding-top: 10px; color: darkblue }
h3 { font-size: 12pt; color: darkgray }
#toc { width: 100% };
ol {
   list-style: decimal;
   margin-left: 1.25em;
   padding: 0; }
ol ol {
   list-style: lower-alpha; 
   margin-left: 1.75em;}
ol ol ol {
   list-style: lower-roman;
   margin-left: 1.75em; }
ol ol ol ol {
   list-style: decimal; 
    margin-left: 1.25em;}
   
ol ol ol ol ol {
   list-style: lower-alpha; 
    margin-left: 1.25em;}
   
ol ol ol ol ol ol {
   list-style: lower-roman; 
    margin-left: 1.25em;}
   
li {
   padding-left: .25em; }
li li {
   padding-left: .1em; }
li li li {
   padding-left: 0; } &lt;/style&gt;&lt;/head&gt;&lt;body&gt;</string>
	<key>images_url</key>
	<string>http://www.wikem.org/w/api.php?action=query&amp;prop=images&amp;list=allimages&amp;ailimit=500&amp;format=xml</string>
	<key>info_url</key>
	<string>http://dl.wikem.org/files/info.xml</string>
	<key>link_base_url</key>
	<string>/wiki/</string>
</dict>
</plist>
