<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>WikEMIcon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>WikEMIcon.png</string>
		<string>WikEMIcon@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.sabindang.com.emnotes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.12</string>
	<key>CFBundleSignature</key>
	<string>wikem</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>3.12</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.medical</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string></string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>base_url</key>
	<string>http://www.wikem.org</string>
	<key>database_url</key>
	<string>http://dl.wikem.org/files/db-update.xml</string>
	<key>edit_note_url</key>
	<string>http://www.wikem.org/w/index.php?title=%@&amp;action=edit</string>
	<key>extras_url</key>
	<string>http://dl.wikem.org/files/info-extras.xml</string>
	<key>head_css_string</key>
	<string>&lt;html&gt;&lt;head&gt;
&lt;meta name='viewport' content='initial-scale=1.0, maximum-scale=10.0'/&gt;&lt;style type="text/css"&gt; body { font-family: arial }
.editsection {display: none}
p,ol,li,ul,a {font-size: 12pt }
h2 { font-size: 14pt; border-top:1px solid #DBDEE2; padding-top: 10px; color: darkblue }
h3 { font-size: 12pt; color: darkgray }
#toc { width: 100% }
li {   margin-left: .25em;
    padding-left: .1em; }
li li {  margin-left: .5em; }
li li li { margin-left: .2em;}
li li li li {martin-left:.2em;}
ol {
    list-style: decimal;
    margin-left: .5em;
    padding-left: 0.2em; }
ol ol {
    list-style: lower-alpha; 
    margin-left: .5em;}
ol ol ol {
    list-style: lower-roman;
    margin-left: .5em; }
ol ol ol ol {
    list-style: decimal; 
    margin-left: .5em;}
ol ol ol ol ol {
    list-style: lower-alpha; 
    margin-left: 0.2em;} 
&lt;/style&gt; &lt;/head&gt;&lt;body&gt;</string>
	<key>images_url</key>
	<string>http://www.wikem.org/w/api.php?action=query&amp;prop=images&amp;list=allimages&amp;ailimit=500&amp;format=xml</string>
	<key>info_url</key>
	<string>http://dl.wikem.org/files/info.xml</string>
	<key>link_base_url</key>
	<string>/wiki/</string>
</dict>
</plist>
